* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

#wrap {
  width: 100%;
}
/* 헤더 */
#header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 9000;
}
#header img {
  float: left;
  margin: 20px 150px 0 110px;
  width: 110px;
  height: 50px;
}

#header .nav {
  float: left;
  margin-top: 30px;
  margin-right: 200px;
}
#header .nav > li {
  float: left;
  margin-right: 160px;
}
#header ul li a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#header .nav .sub_nav {
  margin-top: 20px;
  display: none;
}
#header .nav .sub_nav li {
  margin-bottom: 15px;
}
#header .nav .sub_nav li a {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

#header .member {
  float: right;
  margin-top: 30px;
  margin-right: 120px;
}

#header .member li {
  float: left;
  margin-right: 20px;
}

#header .member li a {
  font-size: 15px;
  font-weight: bold;
  color: white;
}
/* 컨텐츠 */
#contents {
  width: 100%;
  height: 4000px;
}

/* 메인페이지 1번째 */
#container {
  position: absolute;
  top: 0;
  width: 100%;

}
#container .back_img {
  float: left;
  width: 100%;
  height: 1070px;
  background-image: url("../images/kv.jpg");
}
#container .txt {
}
#container .txt > span {
  position: absolute;
  right: 0;
  margin: 320px 80px 0 0;
  font-size: 55px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.35;
  color: #fff;
}
/* 메인페이지 2번째 */
#container2 {
  position: absolute;
  top: 1070px;
  width: 100%;
  height: 1200px;
  
  
}

#container2 h1 {
  position: relative;
  top: 80px;
  left: -34px;
  font-size: 400px;
  white-space : nowrap;
  overflow: hidden;
  z-index: 8888;
  color:#ccc;
}

#container2 .txt{
  position: absolute;
  top: 350px;
  right: 300px;
  
  font-size: 90px;
  font-family: inherit;
  font-weight:900;
  line-height: 1.35;
  color: black;
  z-index: 9999;
}



/* 메인페이지 3번째 */
#container3 {
  position: absolute;
  top: 2070px;
  width: 100%;

}
#container3  h1{
  float: left;
  margin-left: 360px;
  writing-mode: vertical-rl;
  font-size: 160px;
}
#container3 .explain{
float: left;
margin-top: 100px;
margin-left: 160px;
}

#container3 .explain h3{
  margin-top:  30px;
  font-size: 24px;
  color: #ccc;
}

#container3 .explain h2{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}
#container3 .explain p{
  margin-bottom: 15px;
  font-size: 25px;
  font-weight:500;
}


/* 메인페이지 4번째 */
#container4 {
  position: absolute;
  top: 3500px;
  width: 100%;
  
}
#container4  h1{
  float: left;
 margin-left: 910px;
  writing-mode: vertical-rl;
  font-size: 160px;
}
#container4 .explain{
float: right;
margin-right: 160px;
}

#container4 .explain h3{
  margin-top:  30px;
  font-size: 24px;
  color: #ccc;
}

#container4 .explain h2{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}
#container4 .explain p{
  margin-bottom: 15px;
  font-size: 25px;
  font-weight:500;
}

/* 메인페이지 5번째 */
#container5 {
  position: absolute;
  top: 4800px;
  width: 100%;

}
#container5  h1{
  float: left;
 margin-left: 360px;
  writing-mode: vertical-rl;
  font-size: 160px;
}
#container5 .explain{
float: left;
margin-top: 100px;
margin-left: 160px;
}

#container5 .explain h3{
  margin-top:  30px;
  font-size: 24px;
  color: #ccc;
}

#container5 .explain h2{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}
#container5 .explain p{
  margin-bottom: 15px;
  font-size: 25px;
  font-weight:500;
}

/* 메인페이지 6번째 */
#container6 {
  position: absolute;
  top: 6000px;
  width: 100%;
  height: 1200px;
  
  
}

#container6 h1 {
  position: relative;
  top: 80px;
  left: -34px;
  font-size: 400px;
  white-space : nowrap;
  overflow: hidden;
  z-index: 8888;
  color:#ccc;
}

#container6 .txt{
  position: absolute;
  top: 350px;
  left: 100px;
  
  font-size: 90px;
  font-family: inherit;
  font-weight:900;
  line-height: 1.35;
  color: black;
  z-index: 9999;
  
}

#container6 .explain{

  position: absolute;
  top: 700px;
  left: 700px;
  margin-bottom: 50px;
  
}
#container6 .img li{
  float: left;
  margin: 20px 20px 20px 0;
}
#container6 .font{
 
}

#container6 .font li{
  float: left;
  width: 50%;
  font-size: 30px;
  font-weight: bold;
}
#container6 .font li p{
  margin-bottom: 20px;
}

/* 메인페이지 6번째 */
#container7{
  position: absolute;
  top: 8160px;
  width: 100%;
  height: 1200px;
  
  
}

#container7 h1{
  width: 90%;
  margin: 0 auto;
  font-size: 90px;
  padding-top: 300px;
  padding-bottom: 50px;
 
  border-bottom: 1px solid #000;
}
#container7 h2{
  font-size: 70px;
}

#container7 .table{
  width: 90%;
  height: 900px;
  margin: 0 auto;
}
#container7 .table > li{
  display: block;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #000;
  
}


#container7 .in_table{
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
#container7 .in_table .icon{
  display: block;
  width: 50px;
  
  

}
#container7 .in_table img{
  width: 100%;
}



#container7 .inner_table{
  float: left;
  margin-right: 80px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}
#container7 .inner_table li{
margin-bottom: 25px;
}
#container7 .inner_table2{
  float: left;
  
}
#container7 .inner_table2 li{
  margin-bottom: 30px;
}


/* 하단 */
#footer {
  position: absolute;
  top: 9500px;
  width: 100%;
  border-top: 1px solid #000;
  margin: 0 auto;
  font-weight: 600;
}
/* 하단 왼쪽 */
#foot_L {
  float: left;
  width: 30%;
  margin-top: 20px;
}
#foot_logo {
  width: 40%;
}
/* 하단 오른쪽 */
#foot_R {
  width: 32%;
  height: 20%;
  float: right;
  position: relative;
}
#family {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
#f_s {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
}
#f_s > li {
  width: 100%;
  height: 100%;
}
#f_s > li > a {
  padding-left: 1%;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 0.8rem;
  color: #000;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#f_s > li > a:after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: pink;
}
#f_s > li > a:hover {
  color: #fff;
}
#f_s > li > a:hover:after {
  width: 100%;
  z-index: -1;
}
.family_sub {
  position: absolute;
  z-index: 9999;
  margin: 20px 0 30px 5px;
  font-size: 0.7rem;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #000;
}
.family_sub li {
  margin-bottom: 10px;
}
.family_sub li:last-child {
  margin-bottom: 20px;
}
.family_sub a {
  display: block;
  color: #ccc;
}
.family_sub a:hover {
  color: #000;
}
.sns {
  position: absolute;
  top: 100px;
  left: 5px;
  width: 100%;
  height: 100px;
  font-size: 0.8rem;
}
.sns > li {
  float: left;
  width: 15%;
  margin-top: 20px;
  margin-right: 1%;
}
.sns > li > a > img {
  width: 40%;
}
/* 하단 중앙 */
#foot_m {
  float: left;
  width: 34%;
  height: 100px;
  margin-top: 90px;
  font-size: 0.7rem;
}
#foot_m_h li {
  margin-bottom: 10px;
}
#foot_m_h li a {
  color: #000;
}
#foot_m_h li span {
  margin-right: 8px;
}
.copyright {
  float: left;
  margin-top: 40px;
  width: 250px;
  height: 100px;
  font-size: 0.7rem;
  line-height: 18px;
}
.copyright > a {
  color: #000;
}
