* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 네비게이션 */
nav .sub_mn img {
  float: left;
  margin: 20px 150px 0 110px;
  width: 110px;
  height: 50px;
}
nav {
  width: 100%;
  height: 90px;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
/* nav:hover a {
    display: block;
    color: #000;
  }
  nav.on {
    background-color: #fff;
  }
  nav a.on1 {
    display: block;
    color: #000;
  } */
/* .downdown {
    position: fixed;
    animation: down 0.3s ease;
  }
  @keyframes down {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  } */

nav .sub_mn {
  width: 100%;
  height: 200px;
  background-color: #fff;
}
nav .sub_mn > li {
  float: left;
  margin-right: 230px;
  margin-top: 30px;
}
nav li a {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
nav ul li a {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* 서브메뉴 */
nav .sub_nav {
  margin-top: 20px;
  overflow: hidden;
}
nav .sub_nav li {
  margin-bottom: 15px;
}
nav .sub_nav li a {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

/* 로그인, 회원가입 */
nav .member {
  float: right;
  margin-top: 30px;
  margin-right: 120px;
}

nav .member li {
  float: left;
  margin-right: 20px;
}

nav .member li a {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  /* color: #fff; */
}

#wrap {
  display: flex;
  flex-flow: row wrap;
  min-width: 280px;
}
/* 헤더 */
#header {
  flex: 1 1 100%;
  height: 100px;
}

.nav {
  width: 100%;
  margin-top: 30px;
}
/* 컨텐츠 */
#contents {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
table {
  width: 100%;
  height: 100%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
/* 제목 */
.table_t {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #ccc;
}
.t {
  width: 12.5%;
  /* height: 100%; */
  border-right: 2px solid #ccc;
  background-color: #ff7da9;
  color: white;
  text-shadow: 1px 1px 1px #777;
  font-weight: 700;
  text-align: center;
}

.area {
  width: 200px;
  height: 30px;
}

/* 작성자 */
.table_w {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #ccc;
}
.w {
  width: 12.5%;
  /* height: 100%; */
  border-right: 2px solid #ccc;
  background-color: #ff7da9;
  color: white;
  text-shadow: 1px 1px 1px #777;
  font-weight: 700;
  text-align: center;
}

/* 내용 */
.table_c {
  width: 100%;
  height: 500px;
  line-height: 500px;
  border-bottom: 2px solid #ccc;
}
.c {
  width: 12.5%;
  /* height: 100%; */
  border-right: 2px solid #ccc;
  background-color: #ff7da9;
  color: white;
  text-shadow: 1px 1px 1px #777;
  font-weight: 700;
  text-align: center;
}

/* 작성일자 */
.table_d {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #ccc;
}
.d {
  width: 12.5%;
  /* height: 100%; */
  border-right: 2px solid #ccc;
  background-color: #ff7da9;
  color: white;
  text-shadow: 1px 1px 1px #777;
  font-weight: 700;
  text-align: center;
}

/* 작성하기 */
button {
  float: right;
  margin: 10px 15px;
  width: 100px;
  height: 40px;
  background-color: #ff7da9;
  color: #fff;
  border: 1px solid #666;
  border-radius: 5px 5px;
  text-shadow: 1px 1px 1px #777;
  font-weight: 700;
  cursor: pointer;
}

/* 하단 */
#footer {
  width: 94%;
  height: 300px;
  border-top: 1px solid #000;
  margin: 0 auto;
  font-weight: 600;
}
/* 하단 왼쪽 */
#foot_L {
  float: left;
  width: 30%;
  margin-top: 20px;
}
#foot_logo {
  width: 40%;
}
/* 하단 오른쪽 */
#foot_R {
  width: 32%;
  height: 20%;
  float: right;
  position: relative;
}
#family {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
#f_s {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
}
#f_s > li {
  width: 100%;
  height: 100%;
}
#f_s > li > a {
  padding-left: 1%;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 0.8rem;
  color: #000;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#f_s > li > a:after {
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: pink;
}
#f_s > li > a:hover {
  color: #fff;
}
#f_s > li > a:hover:after {
  width: 100%;
  z-index: -1;
}
.family_sub {
  position: absolute;
  z-index: 9999;
  margin: 20px 0 30px 5px;
  font-size: 0.7rem;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #000;
}
.family_sub li {
  margin-bottom: 10px;
}
.family_sub li:last-child {
  margin-bottom: 20px;
}
.family_sub a {
  display: block;
  color: #ccc;
}
.family_sub a:hover {
  color: #000;
}
.sns {
  position: absolute;
  top: 100px;
  left: 5px;
  width: 100%;
  height: 100px;
  font-size: 0.8rem;
}
.sns > li {
  float: left;
  width: 15%;
  margin-top: 20px;
  margin-right: 1%;
}
.sns > li > a > img {
  width: 40%;
}
/* 하단 중앙 */
#foot_m {
  float: left;
  width: 34%;
  height: 100px;
  margin-top: 90px;
  font-size: 0.7rem;
}
#foot_m_h li {
  margin-bottom: 10px;
}
#foot_m_h li a {
  color: #000;
}
#foot_m_h li span {
  margin-right: 8px;
}
.copyright {
  float: left;
  margin-top: 40px;
  width: 250px;
  height: 100px;
  font-size: 0.7rem;
  line-height: 18px;
}
.copyright > a {
  color: #000;
}
